<!DOCTYPE html>
<html>
    <head>
        <title>File Indexer</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body>
        <h2>Search directory {{.DirectoryPath}}</h2>
        <input type="text" id="search-input" placeholder="Enter search term" onkeydown="searchOnEnter(event)"/>
        <button onclick="search()">Search</button>
        <div id="results-section">
            <h3 id="results-header">Matches</h3>
            <ul id="results-container"></ul>
        </div>
        <div id="file-section">
            <h3 id="file-header">Selection</h3>
            <div id="file-container"></div>
        </div>
    </body>

    <script>

        function search() {
            hidePreviousContent();
            const searchTerm = document.getElementById("search-input").value;
            const searchUrl = "/search?q=" + encodeURIComponent(searchTerm);
            fetch(searchUrl).then(response => response.json()).then(results => {
                document.getElementById("results-section").style.display = "block";
                const resultContainer = document.getElementById("results-container");
                resultContainer.innerHTML = "";
                results.forEach(result => {
                    const listItem = document.createElement("li");
                    
                    const linkElement = document.createElement("a");
                    linkElement.href = "#";
                    linkElement.textContent = `${result.FileName}:${result.LineNumber}`;
                    linkElement.onclick = (event) => fetchFile(event, result.FileName, result.LineNumber)
                    
                    const linkContainer = document.createElement("span");
                    linkContainer.appendChild(linkElement);
                    listItem.appendChild(linkContainer);

                    const lineText = document.createElement("span");
                    lineText.textContent = `  ${result.Text}`;
                    listItem.appendChild(lineText);
                    
                    resultContainer.appendChild(listItem);
                });
            });
        }

        function fetchFile(event, fileName, lineNumber) {
            event.preventDefault();
            const fileUrl = `/file?fileName=${encodeURIComponent(fileName)}&lineNumber=${lineNumber}`;
            fetch(fileUrl).then(response => response.text()).then(fileLines => {
                document.getElementById("file-section").style.display = "block";
                const fileContainer = document.getElementById("file-container");
                fileContainer.innerHTML = "";
                fileLines.split("\n").forEach((line, index) => {
                    const lineElement = document.createElement("span");
                    lineElement.textContent = line;
                    lineElement.className = "file-line";
                    if (line.startsWith(lineNumber + ".")) {
                        lineElement.classList.add("highlighted-line");
                    }

                    const lineBlock = document.createElement("div");
                    lineBlock.appendChild(lineElement);
                    fileContainer.appendChild(lineBlock);
                });
            });
        }

        function hidePreviousContent() {
            document.getElementById("results-section").style.display = "none";
            document.getElementById("file-section").style.display = "none";
        }

        function searchOnEnter(event) {
            if (event.key === "Enter") {
                search();
            }
        }
    </script>

    <style>
    #results-section, #file-section {
            display: none;
            margin-top: 2em;
        }

        .file-line {
            font-family: monospace;
            white-space: pre;
        }

        .highlighted-line {
            background-color: yellow;
        }
    </style>

</html>